html {
    > body {
        margin: 0;
        padding: 0;

        > header {
            background: #311B50 url("/img/logo.png") no-repeat fixed top;
            height: 60px;
        }
    }
}

.container{
    background: #ccc;
    color: #000;

}